{% extends 'base.html.twig' %}
{% block active%}
    
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/event/create">Add an Event</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Sort
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/">All</a>
          <a class="dropdown-item" href="/sort/music">Music</a>
          <a class="dropdown-item" href="/sort/movie">Movie</a>
          <a class="dropdown-item" href="/sort/theater">Theater</a>
          <a class="dropdown-item" href="/sort/sport">Sport</a>
        </div>
      </li>
    </ul>
    
{% endblock %}
{% block body %}


<h2 class="page-header">Add an Event</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}